{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    </head>
    <body>

        <nav class="navbar bg-primary">
            <a class="navbar-brand" href="/">
                Nitish Self Decode Test Assignment
            </a>
        </nav>

        {% block content %}{% endblock %}

        <footer>
            <p class="copyright text-center">
                &copy; 2017, Nitish Self Decode Test Assignment
            </p>
        </footer>

        <!-- *** SCRIPTS TO INCLUDE ***
        _________________________________________________________ -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            window.EForm = {
                validateForm: function() {
                    var self = this;
                    self.form = $('#dForm');

                    $(self.form[0].elements).each(function() {
                        $(this).removeAttr('required')
                    })

                    $('#id_title').on('blur', function() {
                        if(hasError(this)) {
                            $(this).closest('.form-group').addClass('has-error');
                        } else {
                            $(this).closest('.form-group').removeClass('has-error');
                        }
                    })

                    self.form.on('submit', function(e) {
                        var errors = 0;
                        $(self.form[0].elements).each(function() {
                            if(this.nodeName === 'INPUT' && (this.type === 'file' || this.type === 'text') && $(this).attr('id') != 'id_access_token') {
                                if($(this).val() === '') {
                                    $(this).closest('.form-group').addClass('has-error');
                                    errors += 1;
                                } else {
                                    $(this).closest('.form-group').removeClass('has-error')
                                }
                            }
                        });
                        if(errors) {
                            e.preventDefault();
                        }
                    });

                    $('#id_attachment').on('change', function() {
                        if(!this.files.length) return;
                        $('#fileName').text(this.files[0].name);
                        $(this).closest('.form-group').removeClass('has-error');
                    })

                    function hasError(field) {
                        if($(field).val() === '') return true;
                        return false;
                    }
                },
                init: function() {
                    this.validateForm()
                }
            }

            EForm.init();
        </script>

    </body>
</html>
