{% extends "base.html" %}

{% block title %}Create TODO{% endblock %}

{% block content %}
    <section class="section intro align-items-center">
        <div class="col hidden-xs-down" style="max-width: 250px"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if success %}
                        <div class="alert alert-success mt-3" style="padding:0.25rem 1.25rem;">
                            <small>TODO Created successfully!</small>
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger mt-3" style="padding:0.25rem 1.25rem;">
                            <small>There is some problem while connecting to basecamp API!</small>
                        </div>
                    {% endif %}
                    <form class="fm-container" id="dForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="id_access_token">Access Token</label>
                                </div>
                                <div class="col text-right" style="font-size:12px;">
                                    <a role="button" target="_blank" href="{% url 'get_access_token' %}">Get Access Token</a>
                                </div>
                            </div>
                            {{ form.access_token }}
                            <div class="alert alert-info mt-3" style="padding:0.25rem 1.25rem;">
                                <small>If you want to regenerate the access token, Please click on the link and generate access token and provide it in input field. Provided access token will take priority over the access token used in application.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_title">Title</label>
                            {{ form.title }}
                            <div class="fm-error">Title is required</div>
                        </div>
                        <div class="form-group">
                            <label for="">Attachment</label>
                            <label for="id_attachment" class="btn btn-outline-dark btn-sm mb-0" role="button">
                                Choose File
                                {{ form.attachment }}
                            </label>
                            <span id="fileName" class="ml-2"></span>
                            <div class="fm-error">File attachment is required</div>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary mt-2" style="width: 200px" role="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col hidden-xs-down" style="max-width: 250px"></div>
    </section>
{% endblock %}
