{% extends "base.html" %}

{% block title %}Create TODO{% endblock %}

{% block content %}
    <section class="section intro align-items-center">
        <div class="col hidden-xs-down" style="max-width: 250px"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="fm-container" id="dForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="id_title">Code</label>
                                </div>
                                <div class="col text-right" style="font-size:12px;">
                                    <a role="button" target="_blank" href="{% url 'get_verification_code' %}">Get Verification Code</a>
                                </div>
                            </div>
                            {{ form.code }}
                            {% if access_token %}
                                <div class="alert alert-info mt-3" style="padding:0.25rem 1.25rem;">
                                    <small>{{ access_token }}</small>
                                </div>
                            {% endif %}
                            {% if api_error %}
                                <div class="alert alert-danger mt-3" style="padding:0.25rem 1.25rem;">
                                    <small>{{ api_error }}</small>
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary mt-2" role="button" value="Get Access Token">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col hidden-xs-down" style="max-width: 250px"></div>
    </section>
{% endblock %}

