body {
    background: #f7f7f9;
    font-family: 'Montserrat', sans-serif;
}

.card {
    border-width: 0;
    border-radius: 16px
}

.card-body {
    padding: 55px 37px
}

.section {
    position: relative;
    padding: 40px
}

.section.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: calc(100vh - 140px);
}

@media (max-width: 767px) {
    .section {
        padding: 15px
    }
}

.form-group {
    position: relative;
    margin-bottom: 40px
}

.form-group p {
    margin-bottom: 35px
}

.fm-error {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    font-size: .7rem;
    font-weight: 300;
    text-align: left;
    padding: 1px 6px;
    color: #ffffff;
    background: #fe5161;
}

.fm-container label:not(.btn) {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    color: #969696;
    letter-spacing: 1px;
    text-transform: uppercase
}

.fm-container .input-text {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    outline: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group.has-error .fm-error {
    display: block;
}

.form-group.has-error .input-text {
    border-color: #fe5161;
}

.btn-primary {
    background: #47B0FC;
    border-width: 0;
    text-transform: uppercase;
    padding: .7rem 1.5rem;
    letter-spacing: 1px
}

.btn-primary:hover {
    background: #47B0FC
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #8d9093;
}

label > input[type="file"] {
    display: none
}

.bg-primary {
    background: #47B0FC !important;
}

.navbar {
    padding: .8rem 1.5rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16)
}

.navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px
}

.navbar-brand:hover {
    color: #ffffff;
}

footer {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.05);
    color: #ccc;
    font-size: 13px;
    font-weight: 300
}